<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assis Ti</title>
    <!-- Bootstrap -->
     <link rel="stylesheet" href="../public/CSS/bootstrap.min.css">
     <link rel="stylesheet" href="../public/CSS/style.css">
</head>
<body>
    <div class="container">
        <h1>Hello Electron</h1>
    </div>

    <!-- bootstrap -->
     <script src="../public/JS/bootstrap.min.js"></script>
</body>
</html>